@import "tailwindcss";

@theme {
  --color-kubur-black: #0a0a0a;
  --color-kubur-gray: #171717;
  --color-kubur-card: #262626;
  --color-kubur-text: #e5e5e5;
  --color-kubur-accent: #8b5cf6;
  --color-kubur-danger: #ef4444;
}



body {
  background-color: var(--color-kubur-black);
  color: var(--color-kubur-text);
}