@import "tailwindcss";

@theme {
  --color-kubur-black: #0a0a0a;
  --color-kubur-gray: #171717;
  --color-kubur-card: #262626;
  --color-kubur-text: #e5e5e5;
  --color-kubur-accent: #8b5cf6;
  --color-kubur-danger: #ef4444;
}

@layer utilities {
  .bg-graveyard {
    position: relative;
    overflow-x: hidden;
    isolation: isolate;
  }

  .bg-graveyard::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/graveyard.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
    filter: grayscale(100%) brightness(0.3) blur(1px);
    animation: lightning 12s infinite;
  }
}

@keyframes lightning {

  0%,
  90% {
    opacity: 0.05;
    filter: grayscale(100%) brightness(0.3) blur(2px);
  }

  92% {
    opacity: 0.6;
    filter: grayscale(80%) brightness(1.2) blur(0px);
  }

  93% {
    opacity: 0.1;
    filter: grayscale(100%) brightness(0.3) blur(2px);
  }

  94% {
    opacity: 0.4;
    filter: grayscale(90%) brightness(0.8) blur(0px);
  }

  96%,
  100% {
    opacity: 0.05;
    filter: grayscale(100%) brightness(0.3) blur(2px);
  }
}

body {
  background-color: var(--color-kubur-black);
  color: var(--color-kubur-text);
}